* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, rgb(0,149,135) 0%, rgb(0,149,135) 15%, rgb(217,218,211) 15%, rgb(217,218,211) 100%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* container */
.contact-list,
.chat {
    height: 95vh;
}


/* top section */
.personal {
    background-color: rgb(233, 233, 233);
    padding: 10px 0;
    border-right: 1px solid rgb(202, 202, 202);
}

/* left col */

/* notification settings */
.notis {
    min-height: 90px;
    background-color: #8dd9fb;
}

.icon-notis span {
    padding: 15px;
    border-radius: 50%;
}

.icon-notis span i {
    color: #8dd9fb;
}

.notis h5 {
    font-size: 15px;
}
.notis p a {
    font-size: 12px;
    color: gray;
}


/* searchable contacts */
.search-contact {
    background-color: rgb(248, 248, 248);
}

/* contacts */
.avatars img {
    width: 50px;
    border-radius: 50%;
    margin: 0 25px;
}

.icons i {
    margin: 0 10px;
    color: gray;
    cursor: pointer;
}
.contacts {
    max-height: 600px;
    overflow-y: scroll;
}

ul li:hover {
    background-color: rgb(231, 231, 231);
}

/* right col */

/* text-chat */
/* background pattern */
.pattern {
    background-image: url(../img/mine.jpg);
}
/* message style */
.message-sent {
    max-width: 40%;
    background-color: lightgreen;
    align-self: flex-end;
    margin-left: auto;
}

.message-received {
    max-width: 40%;
    background-color: white;
    align-self: flex-start;
    margin-right: auto;
}

.message-received span,
.message-sent span {
    bottom: 5px;
    right: 10px;
    font-size: 14px;
}

.message-sent,
.message-received {
    border-radius: 10px;
}

.send-message {
    min-height: 70px;
    background-color: #f2ede9;
}

/* user contact list last message and date */
.names span {
    color: gray;
}

.names span:last-child {
    top: 10px;
    right: 10px;
}

/* dropdown */
.dropdown {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 5px;
}

.dropdown-button {
    color: gray;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 100;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

